.home {
  width: 100%;
  height: 100vh;
  background-image: url("/public/images/2.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .hero {
  color: white;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.home .hero-text {
  max-width: 600px;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-shade {
  position: relative;
  height: min-content;
  width: 100%;
}
.home form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.home button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
/* Content Section */
.content-section {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  background-color: var(--background-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.greeting-section {
  padding: 20px;
  background-color: var(--background-color-secondary);
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(218, 143, 58, 0.692);
  margin: 20px auto;
  max-width: 600px;
}

.greeting-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.greeting-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.next-session-section {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .home {
    padding: 20px;
    background-position: center;
    background-size: cover;
  }

  .home .hero {
    padding: 20px;
  }

  .home .hero-text {
    max-width: 100%;
    padding: 10px;
  }

  .home form {
    flex-direction: column;
    align-items: center;
  }

  .home input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .home button {
    width: 100%;
    box-sizing: border-box;
  }

  .content-section {
    padding: 20px;
  }

  .greeting-section,
  .next-session-section {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .greeting-section h2,
  .next-session-section h2 {
    font-size: 1.5rem;
  }

  .greeting-section p,
  .next-session-section p {
    font-size: 1rem;
  }

  button {
    width: 100%;
    box-sizing: border-box;
  }
}

/* Styles for extra small screens */
@media (max-width: 480px) {
  .home {
    padding: 10px;
  }

  .home .hero {
    padding: 10px;
  }

  .home .hero-text {
    padding: 5px;
  }

  .content-section {
    padding: 10px;
  }

  .greeting-section,
  .next-session-section {
    padding: 10px;
  }

  .greeting-section h2,
  .next-session-section h2 {
    font-size: 1.2rem;
  }

  .greeting-section p,
  .next-session-section p {
    font-size: 0.9rem;
  }
}
