.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #1c1e23;
  color: #fff;
}

.App {
  padding: 0 0 0 50px;
}
:root {
  --primary-color: #dc4e43;
  --secondary-color: #cf641c;
  --background-color: #f7f7f7;
  --text-color: #333;
  --input-border-color: #ccc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --info-color: #555;
}
:root {
  --main-color: #333; /* Blue color */
  --dark-grey-color: #333; /* Dark grey color */
  --medium-grey-color: #555; /* Medium grey color */
  --light-grey-color: #f7f7f7; /* Light grey color */
  --white-color: #fff; /* White color */
}
